flows.json
[{"id":"65068040.6818a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f5da50fb.82f72","type":"ros-subscribe","z":"65068040.6818a","server":"9ae54201.05944","topicname":"/temperature","x":330,"y":240,"wires":[["2e13b339.a38eac"]]},{"id":"2e13b339.a38eac","type":"function","z":"65068040.6818a","name":"","func":"msg.payload = parseInt(msg.payload.data)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":240,"wires":[["20ef6fb6.cc824","a5e78b6c.3e55c"]]},{"id":"20ef6fb6.cc824","type":"ui_gauge","z":"65068040.6818a","name":"","group":"803fa24d.62ca68","order":0,"width":"6","height":"6","gtype":"gage","title":"Celcius","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":240,"wires":[]},{"id":"a5e78b6c.3e55c","type":"ui_chart","z":"65068040.6818a","name":"ROS","group":"803fa24d.62ca68","order":1,"width":"0","height":"0","label":"Temperature in Celcius","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":320,"wires":[[]]},{"id":"6bd5345f.d70ddc","type":"ros-subscribe","z":"65068040.6818a","server":"9ae54201.05944","topicname":"/spo2_data","x":340,"y":440,"wires":[["cc4a58d3.7f45a8"]]},{"id":"cc4a58d3.7f45a8","type":"function","z":"65068040.6818a","name":"","func":"msg.payload = parseInt(msg.payload.data)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":440,"wires":[["902344da.b46df","39dc6c0e.c0bd6c"]]},{"id":"902344da.b46df","type":"ui_gauge","z":"65068040.6818a","name":"","group":"803fa24d.62ca68","order":0,"width":0,"height":0,"gtype":"gage","title":"SPO2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":440,"wires":[]},{"id":"39dc6c0e.c0bd6c","type":"ui_chart","z":"65068040.6818a","name":"ROS","group":"803fa24d.62ca68","order":1,"width":"5","height":"5","label":"chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":520,"wires":[[]]},{"id":"e621db17.18c8f","type":"ros-subscribe","z":"65068040.6818a","server":"9ae54201.05944","topicname":"/bpm_data","x":340,"y":620,"wires":[["92029ea8.50eb68"]]},{"id":"92029ea8.50eb68","type":"function","z":"65068040.6818a","name":"","func":"msg.payload = parseInt(msg.payload.data)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":620,"wires":[["3f585bda.7fcab4","5a4f22c6.90de9c"]]},{"id":"3f585bda.7fcab4","type":"ui_gauge","z":"65068040.6818a","name":"","group":"803fa24d.62ca68","order":0,"width":0,"height":0,"gtype":"gage","title":"BEAT PER MINUTE","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":620,"wires":[]},{"id":"5a4f22c6.90de9c","type":"ui_chart","z":"65068040.6818a","name":"ROS","group":"803fa24d.62ca68","order":1,"width":"0","height":"0","label":"BEAT PER MINUTE","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"150","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":700,"wires":[[]]},{"id":"23443524.2a0aa2","type":"ros-subscribe","z":"65068040.6818a","server":"9ae54201.05944","topicname":"/ecg_data","x":320,"y":100,"wires":[["9db3bcff.542688"]]},{"id":"9db3bcff.542688","type":"function","z":"65068040.6818a","name":"","func":"msg.payload = parseInt(msg.payload.data)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":100,"wires":[["c7d94d8.6e4773","f1b838fe.435ff8"]]},{"id":"c7d94d8.6e4773","type":"ui_gauge","z":"65068040.6818a","name":"","group":"803fa24d.62ca68","order":0,"width":"0","height":"0","gtype":"gage","title":"ECG_DATA","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":100,"wires":[]},{"id":"f1b838fe.435ff8","type":"ui_chart","z":"65068040.6818a","name":"ROS","group":"803fa24d.62ca68","order":1,"width":"0","height":"0","label":"ECG_DATA","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":180,"wires":[[]]},{"id":"38ed4d27.244722","type":"ros-publish","z":"65068040.6818a","server":"9ae54201.05944","topicname":"/ventilation","msgtype":"std_msgs/Int32","x":630,"y":800,"wires":[]},{"id":"3541891b.34d446","type":"ui_switch","z":"65068040.6818a","name":"","label":"Toggle Ventilator","tooltip":"","group":"803fa24d.62ca68","order":4,"width":"3","height":"3","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":340,"y":800,"wires":[["38ed4d27.244722"]]},{"id":"9ae54201.05944","type":"ros-server","url":"ws://127.0.0.1:9090"},{"id":"803fa24d.62ca68","type":"ui_group","name":"Default","tab":"baad7a37.f1db2","order":1,"disp":true,"width":"6","collapse":false},{"id":"baad7a37.f1db2","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]